.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    .chatInfo {
      @include transformPixel(height, 50, 25);
      background-color: #5d5b8d;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include transformPixel(padding, 10, 10);
      color: lightgray;
    }

    .chatIcons {
      display: flex;
      @include transformPixel(gap, 10, 10);
      img {
        @include transformPixel(height, 24, 15);
        cursor: pointer;
      }
    }
}