// 移动端
@mixin mobile{
    @media screen and (max-width: 767px) {
        @content;
    }
}
// pc端
@mixin pc{
    @media screen and (min-width: 767px){
        @content;
    }
}
// 中间设备
@mixin middlePixel{
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}
// pc转换
@mixin transformPixel($field, $pc: 0, $mobile: 0){
    @if unit($pc) == "%"{
        #{$field}: $px;
    }
    @else {
        #{$field}: vw($pc);
    }
    @include mobile{
        @if unit($mobile) == "%"{
            #{$field}: $mobile;
        }
        @else {
            #{$field}: vwm($mobile);
        }
    }
}
// 文本超出显示省略号
@mixin ellipsis($row: 2){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}
// 弹性盒子
@mixin dff-aic-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
// 边框阴影
@mixin boxShadow{
    box-shadow: inset 0 1px 1px rgb(174 100 55 / 8%), 0 0 8px rgb(174 100 55 / 60%);;
}